<header>
  <div class="header-wrapper">
    <div class="header-logos">
      <img src="../../assets/img/dumai.png" alt="Logo Dumai" class="logo" loading="lazy">
      <img src="../../assets/img/dumai_idaman.png" alt="Logo Dumai Idaman" class="logo" loading="lazy">
      <img src="../../assets/img/asn.png" alt="Logo ASN" class="logo" loading="lazy">
    </div>

    <div class="header-title">
      <h1>Portal Kecamatan Dumai Kota</h1>
      <p>Pemerintah Kota Dumai</p>
    </div>
  </div>

  <nav class="navbar">
    <a href="../../index.html">Beranda</a>
    <a href="../../modules/agenda/agenda.html">Agenda</a>
    <a href="../../modules/disposisi/disposisi.html">Disposisi</a>
    <a href="../../modules/nota_dinas/nota_dinas.html">Nota Dinas</a>
    <a href="../../modules/login/login.html">Logout</a>
  </nav>
</header>
